.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: black;
    
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    
    padding: 0 100px;
   background-color: black;
}
.content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
