<div class="head">



  <nav class="navbar">
   <div class="logo">
    <div     href="#"><img  src="\assets\artilugios.jpg"  class="rounded-circle"  width = "30%">>

    </div>


  </div>
      <a href="/productos">Productos</a>
     
  
        

        
        <button type="button" class="btn btn-outline-light" (click)="login()" id="button" *ngIf="! isLogged">Ingreso</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" id="button" *ngIf="isLogged">Cerrar sesion</button>
     
  </nav>

</div>

<header class="content header">



</header>



<section class="content about">

  <h2 class="title">Nosotros</h2>
  <p>    Somos Artilugios Cosmética Natural y vinimos para quedarnos.
    Este emprendimiento se dedica a la producción de cremas, maquillajes💄 
    y otras elaboraciones magistrales para la piel y el cuidado corporal.
    Lo mejor de todo es que nuestros insumos son de origen natural 🌿,
     por lo que, tienen menor impacto en el ambiente.
  </p>



</section>

<section class="content about">

  <h2 class="title">ObJETIVOS</h2>
  <p>   ♻️También queremos contarles que el principal objetivo
     de esta marca es el cuidado del ambiente.
     A través de las redes sociales compartiremos 
     con todos ustedes las distintas aplicaciones que 
     se le pueden dar a los envases para reutilizarlos y reciclarlos.
      La idea es generar conciencia sobre la importancia del cuidado del MEDIOAMBIENTE. 🌱🌎

  </p>



</section>

<section class="content contact">
  <h2 class="title">Contacto</h2>
  <p>📱3515939897</p>
  <figure class="map">
      <img src="\assets\green-button-phone-bubble-chat-260nw-1136309198.webp" class="rounded-circle" height="110px" width="100%" alt="mapa">
  </figure>
</section>
<div class="col-sm-3 col-md-3 col-lg-3">
  <button  *ngIf="isLogged" type="button" class="btn btn-dark" routerLink="/nuevapersona"  >Nuevo persona</button>
</div>
<app-persona *ngIf="isLogged"></app-persona>